<style>
body {
    font-family: 'Fraunces', Georgia, serif;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    margin: 3rem auto;
    max-width: 600px;
    line-height: 1.5;
    color: #222;
    padding: 0 1rem;
    font-size: 16px;
  }

  h1 {
    margin-bottom: 0.25em;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-style: italic;
    font-weight: 700;
    font-size: 3.5rem;
  }

  p,
  li,
  strong {
    margin-bottom: 1em;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.25rem;
  }

  li {
    margin: 0.5rem 0;
  }
</style>
