<style>
body {
    font-family: Georgia, Times, "Times New Roman", serif;
    margin: 3rem auto;
    max-width: 600px;
    line-height: 1.5;
    color: #222;
    padding: 0 1rem;
    font-size: 18px;
  }

  h1 {
    margin-bottom: 0.25em;
  }

  p,
  li,
  strong {
    margin-bottom: 1em;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.25rem;
  }

  li {
    margin: 0.5rem 0;
  }
</style>
