---
layout: default
---
<header>
  <div style="margin-bottom: 20px; max-width: 650px; margin-left: auto; margin-right: auto;">
    <div style="text-align: left;">
      <img src="{{ site.baseurl }}/favicon.png" alt="Profile Image" style="width: 100px; height: auto; border-radius: 50%; margin-bottom: 15px; display: block; margin-left: 0; margin-right: 0;">
      <h1 style="text-align: left;">{{ site.title }}</h1>
      {%-if site.theme_config.show_description-%}
        <p>{{ site.description }}</p>
      {%-endif-%}
    </div>
  </div>
</header>

{{ content }}
